.wrap {}
.header {}
.content {}
.main {}
.footer {}

.sidebar {}
.sidebar-primary {}
.sidebar-title {}

.navigation {}
.navigation-primary {}
.menu {}
.menu-item {}
.current-menu-item {}
.current-menu-parent {}
.current-page-item {}
.current-page-parent {}

.entry {}
.entry-title {}
.entry-content {}

.asset {}
.caption {}
.gallery {}
.thumbnail {}

.more-link {}

.pagination {}
.pagination-primary {}
.pagination-secondary {}
.next-link {}
.previous-link {}

.search {}
.search-primary {}
.search-label {}
.search-input {}
.search-submit {}

.widget {}
.widget-title {}

.copyright {}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
